.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --white-color: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

/* ========== HEADER ========== */
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.header .address-list {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(223, 154, 154, 0.31);
}

.header__body {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.logo {
  margin-right: 93px;
  z-index: 5;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.first-part-logo {
  color: #2196f3;
}

.second-part-logo {
  color: #000000;
}

.nav-text {
  color: #000000;
}

.studio-text {
  color: #2196f3;
}

.header-mail {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  position: relative;
  z-index: 2;
  padding-right: 200px;
}

.navigation-list-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms var(--timing-function);
}

.navigation-list-link.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 1;
  transform: scaleX(1);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.header-mail-icon:hover,
.header-mail-icon:focus,
.header-tel-icon:hover,
.header-tel-icon:focus {
  fill: var(--accent-color);
}

.header__burger {
  display: none;
}

.header .address {
  display: flex;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .navigation-list {
    padding-right: 50px;
  }
  .logo {
    margin-right: 23px;
  }
  .header .address-list {
    flex-wrap: wrap;
  }
  .header-mail {
    padding-bottom: 10px;
  }
  .header-tel {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header-mail {
    padding-bottom: 10px;
  }
  .nav-wrapper {
    justify-content: space-between;
  }
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header__body {
    height: 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 255px;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:hover span {
    background-color: #2196f3;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 255px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:hover::before,
  .header__burger:hover::after {
    background-color: #2196f3;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.is-open span {
    transform: scale(0);
  }
  .header__burger.is-open::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.is-open::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -370px;
    left: 0;
    width: 100%;
    height: 370px;
    background-color: #ffffff;
    padding: 70px 0px 0px 0px;
    border-bottom: 3px solid #ececec;
    z-index: 1;
  }
  .header__menu.is-open {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list.navigation-list {
    text-align: center;
    border-top: 1px solid #ececec;
    padding-bottom: 16px;
    padding-top: 0px;
  }
  .navigation {
    display: block;
  }
  .navigation-list-link {
    padding-bottom: 23px;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 0px;
  }
  .header .address-list {
    display: block;
    flex-wrap: nowrap;
  }
  .navigation-list-link.current::after {
    width: 14%;
    left: 43%;
    bottom: 13px;
  }
}

@media screen and (max-width: 525px) {
  .header__burger {
    left: -7%;
  }
}

@media screen and (min-width: 500px) {
  .header__burger {
    left: -3%;
  }
}

@media screen and (max-width: 479px) {
  .header__burger {
    left: -18%;
  }
}

@media screen and (max-width: 459px) {
  .header__burger {
    left: -22%;
  }
}

@media screen and (max-width: 442px) {
  .header__burger {
    left: -36%;
  }
}

@media screen and (max-width: 422px) {
  .header__burger {
    left: -41%;
  }
}

@media screen and (max-width: 400px) {
  .header__burger {
    left: -56%;
  }
}

@media screen and (max-width: 364px) {
  .header__burger {
    left: -72%;
  }
}

/* ========== END HEADER ========== */
/* ========== HERO ========== */
.contact-info {
  background: #2f303a;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 320px), screen and (min-resolution: 288dpi) and (min-width: 320px), screen and (min-resolution: 3dppx) and (min-width: 320px) {
  px .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@3x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px), screen and (min-resolution: 288dpi) and (min-width: 768px), screen and (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@3x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    background-size: 1600px 600px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px), screen and (min-resolution: 288dpi) and (min-width: 1200px), screen and (min-resolution: 3dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@3x.jpg");
  }
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 400ms;
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  transition-delay: 150ms;
}

.modal-icon {
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal-text {
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-field {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field.textarea {
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-form-message:placeholder-shown {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms var(--timing-function);
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border: none;
}

.modal-form-policy-text::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  transition: all 250ms var(--timing-function);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.agreement-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 55px;
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all 250ms var(--timing-function);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 26px;
  }
  .modal {
    width: 450px;
  }
  .modal-text {
    line-height: 1.77;
  }
  .modal-form-policy-text {
    font-size: 11px;
  }
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 22px;
  }
  .modal {
    width: 350px;
  }
  .modal-text {
    font-size: 19px;
  }
  .modal-form-policy-text {
    display: inline-block;
    font-size: 9px;
  }
  .agreement-link {
    font-size: 12px;
    margin-left: 0px;
  }
}

/* ========== END HERO ========== */
.about-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.about-advantages-list-item {
  max-width: 450px;
}

.about-advantages-list,
.address-list,
.about-work-list,
.team-list,
.btn-list,
.projects-list-item,
.navigation-list {
  list-style: none;
}

.about-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.block-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function);
}

.advantages-icon {
  width: 70;
  height: 70;
}

@media screen and (max-width: 1199px) {
  .about-advantages-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .about-advantages-list-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .about-advantages {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .about-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-advantages-list-item {
    width: calc((100% - 4 * 30px) / 4);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.about-work-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-work {
  padding-bottom: 94px;
}

.about-work-list {
  display: flex;
}

.about-work-thumb {
  position: relative;
}

.about-work-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .about-work {
    display: none;
  }
}

.about-advantages-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #757575;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-img {
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 20px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-desc {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .team .title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 0;
  }
  .team-list-item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team .title {
    margin-left: 30px;
  }
  .team-list-item {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.social-info {
  max-width: 206px;
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.social-info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.social-info-item:not(:last-child) {
  margin-right: 10px;
}

.social-info-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-info-link:hover, .social-info-link:focus {
  background-color: var(--accent-color);
}

.social-info-link:hover .social-link,
.social-info-link:focus .social-link {
  fill: var(--white-color);
}

.social-link {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.clients {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: -15px;
}

.clients-item {
  width: calc((100% - 2 * 30px) / 2);
  margin-right: 15px;
  margin-left: 15px;
}

.clients:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

.section-title {
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.171;
  text-align: center;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-decoration: none;
  transition: border-color 250ms var(--timing-function);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin-top: -15px;
    margin-bottom: -15px;
  }
  .clients-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-item {
    width: calc((100% - 6 * 30px) / 6);
  }
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

/* ========== FOOTER ========== */
.footer .container {
  display: flex;
  align-items: baseline;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.contact-info {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-info__box {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.contact-info .logo {
  margin-bottom: 20px;
}

.contact-info .address {
  text-align: left;
  margin-right: auto;
}

.contact-info .address-list {
  min-width: 231px;
}

.contact-info .address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.second-logo {
  color: #ffffff;
}

.address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-list-link,
.navigation-list-link,
.header-mail,
.header-tel,
.projects-link {
  text-decoration: none;
}

.social-footer {
  width: 206px;
  margin-top: 16px;
}

.social-footer-desc {
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.social-footer-list {
  display: flex;
  list-style: none;
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition: background-color 250ms var(--timing-function);
}

.social-footer-link:hover, .social-footer-link:focus {
  background-color: var(--accent-color);
}

.social-footer-icon {
  fill: currentColor;
}

.footer-form {
  display: block;
  margin-left: 93px;
}

.footer-form-subscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  background-color: inherit;
  min-width: 290px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  margin-right: auto;
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timing-function);
}

.footer-form-btn:hover, .footer-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-text-footer {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function);
}

@media screen and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
  }
  .contact-footer .address-list {
    padding-left: 0;
  }
  .contact-footer {
    text-align: center;
    padding-bottom: 60px;
  }
  .contact-footer .address-list {
    text-align: center;
  }
  .social-footer {
    text-align: center;
    margin-right: 70px;
    margin-top: 0px;
  }
  .footer-form {
    text-align: center;
  }
  .footer-form-subscription {
    flex-wrap: wrap;
  }
  .footer-form-subscription button {
    margin-right: 0;
  }
  .footer-form-input {
    margin-bottom: 20px;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .contact-info__box {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  .contact-footer {
    margin-right: 14px;
  }
  .footer-form {
    margin-left: 0;
  }
  .social-footer {
    margin-right: 16px;
  }
}

/* ========== END FOOTER ========== */
/* ========== PORTFOLIO PAGE ========== */
.portfolio-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-page .btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-bottom: 50px;
}

.portfolio-page .projects-list-item {
  background: #ffffff;
}

.portfolio-page .projects-list-item {
  transition: all 250ms var(--timing-function);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-thumb img {
  display: block;
  min-width: 100%;
  height: auto;
}

.project-overlay {
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  opacity: 0;
}

.projects-link {
  display: block;
}

.projects-link:hover .project-overlay,
.projects-link:focus .project-overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-page .projects-list-item {
  margin-bottom: 30px;
}

.item-button {
  margin-right: 8px;
  margin-top: 15px;
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: all 250ms var(--timing-function);
}

.item-button:hover, .item-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-list-item:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list-item {
  flex-basis: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

.projects-link {
  margin-left: -10px;
}

.portfolio-page .btn-list {
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .portfolio-page .btn-list-item:not(:last-child) {
    margin-right: 9px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-page {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .projects-list-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  .portfolio-page .projects-list-item {
    background: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */