.about-advantages {
  padding-top: 60px;
  padding-bottom: 60px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }

  &-list-item {
    max-width: 450px;
  }
}

.about-advantages-list,
.address-list,
.about-work-list,
.team-list,
.btn-list,
.projects-list-item,
.navigation-list {
  list-style: none;
}

.about-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.block-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: fill 250ms var(--timing-function);
}

.advantages-icon {
  width: 70;
  height: 70;
}

@media screen and (max-width: 1199px) {
  .about-advantages-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about-advantages-list-item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .about-advantages {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .about-advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-advantages-list-item {
    width: calc((100% - 4 * 30px) / 4);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.about-work-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
